<h3>Please contact the administator. Your account has to be activated before you can use the portal.</h3>
<p>
    @Html.ActionLink("Login page", "Login")
</p>
@* Enable this once you have account confirmation enabled for password reset functionality *@
<p>
    @Html.ActionLink("Forgot your password?", "ForgotPassword")
</p>