
@{
    ViewBag.Title = "Admin Dashboard";
}

<section class="content-header">
    <h1>
        Admin Dashboard
        <small>All programs summary</small>
    </h1>
</section>
<section class="content">
    @Html.Partial("_AllProgramsSummaryBoxes")
</section>
