a.headerMenuLink {
    color: rgb(97, 96, 96)
}

.btn {
    border-radius: 0!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.label-sm {
    font-size: 75% !important;
}

.label-md {
    font-size: 100% !important;
}

.label-lg {
    font-size: 125% !important;
}

/* ReSharper disable once DeclarationIsEmpty */
.utcdate-tolocaldate {
  /*handles conversion of date to local in elements text*/   
}