<ul class="sidebar-menu" data-widget="tree">
    <li class="header">ADMIN</li>
    <li><a href="@Url.Action("Index", "PortalUsers")"><i class="fa fa-users"></i> <span>Portal Users</span></a></li>
    <li><a href="#"><i class="fa fa-file-code-o"></i> <span>Logs</span></a></li>
</ul>