@using Telimena.WebApp.Core.Interfaces
@using Telimena.WebApp.Infrastructure.Identity
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

       @if (User.SupportsRole(TelimenaRoles.Admin))
       {
           @Html.Partial("_AdminLeftSideBar");
       }
        @if (User.SupportsRole(TelimenaRoles.Developer))
        {
            @Html.Partial("_DeveloperLeftSideBar");
        }
       
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>