@using System.Diagnostics
@using System.Reflection
<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <small><a href="https://github.com/almasaeed2010/AdminLTE">Dashboard design</a></small>
    </div>
    <!-- Default to the left -->
    
    @{
        Assembly ass = ViewContext.Controller.GetType().Assembly;
        string version = ass.GetName().Version.ToString();
        DateTime lastDeploymentDate = new FileInfo(ass.Location).LastWriteTimeUtc;
        TimeSpan dateDiff = (DateTime.Now - lastDeploymentDate);
    }
  
    <strong>TELIMENA v. @version</strong> Deployed @lastDeploymentDate UTC (@dateDiff.TotalHours.ToString("F") hours ago)
</footer>