<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <small><a href="https://github.com/almasaeed2010/AdminLTE">Dashboard design</a></small>
    </div>
    <!-- Default to the left -->
    
    @{
        var ass = ViewContext.Controller.GetType().Assembly;
        var version = ass.GetName().Version.ToString();
    }
  
    <strong>TELIMENA v. @version</strong> 
</footer>