@using Telimena.WebApp.Core.Interfaces
@using Telimena.WebApp.Infrastructure.Identity
@using Telimena.WebApp.UiStrings
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        @if (User.SupportsRole(TelimenaRoles.Admin))
        {
            @Html.Partial("_AdminLeftSideBar")
            ;
        }
        @if (User.SupportsRole(TelimenaRoles.Developer))
        {
            @Html.Partial("_DeveloperLeftSideBar")
            ;
        }
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">ABOUT</li>
            <li>
                <a href="/swagger" id="@Strings.Id.ApiDocsLink">
                    <i class="fa fa-book"></i> <span>API Docs</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>