@model Telimena.WebApp.Models.Shared.ProgramsListViewModel
<li class="treeview menu-open">
    <a href="#">
        <i class="fa fa-link"></i> <span>My applications</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" style="display: block;">
        @foreach (var app in Model.Programs)
        {
        <li><a href="@Url.Action("Index", "ProgramDetails", new {programName = app.Value})"><i class="fa fa-circle-o"></i> <span>@app.Value</span></a></li>
        }
    </ul>
</li>