@using Telimena.WebApp.UiStrings

<div class="@Strings.Css.TopAlertBox" style="display: none;">
    <button type="button" class="close" data-hide="callout" aria-hidden="true">×</button>
    <h4><i class=""></i></h4>
    <div class="text"></div>
</div>