<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AdminName" value="superuser"/>
    <add key="AdminPassword" value="123456"/>
    <add key="PortalUrl" value="https://telimena-dev.azurewebsites.net"/>
    <add key="IsLocalTest" value="True"/>
  </appSettings>
</configuration>