<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="AdminName" value="superuser" />
    <Parameter name="User1Name" value="testuser1@teli.mena" />
    <Parameter name="User2Name" value="testuser2@teli.mena" />
    <Parameter name="AdminPassword" value="123456" />
    <Parameter name="User1Password" value="123456" />
    <Parameter name="User2Password" value="123456" />
    <Parameter name="PortalUrl" value="" />
    <Parameter name="IsLocalTest" value="True" />
    <Parameter name="WaitTimeoutSeconds" value="40" />
  </TestRunParameters>

</RunSettings>